{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>Calendrier des cours</h2>
    <div id="calendar"></div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        events: [
            {
                title: 'Cours de conduite',
                start: '2021-05-01',
                end: '2021-05-01'
            },
            {
                title: 'Cours de code',
                start: '2021-05-03',
                end: '2021-05-03'
            }
            ]
        });

      calendar.render();
    });
  </script>
{% endblock %}
