{% extends 'base.html' %}

{% block title %}
<h1 style="text-align:center; color:#FFA500;">Détails de l'inspecteur</h1>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>
  .back-btn {
    color: #FFA500;
    font-size: 25px;
    position: absolute;
    top: -7vh;
    left: 20px;
    transform: rotate(45deg);
    cursor: pointer;
  }

  .back-btn:hover::after {
    position: absolute;
    top: -8vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
  }
</style>
<a href="#" class="back-btn" onclick="javascript:history.back()">
  <span class="material-icons"></span><i class="fas fa-arrow-left"></i></span>
</a>

  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <table class="table table-bordered table-striped bg-light">
          <tbody>
            <tr>
              <td class="font-weight-bold" style="color: #000;">Nom :</td>
              <td style="color: #000;">{{ inspecteur.nom }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold" style="color: #000;">Prénom :</td>
              <td style="color: #000;">{{ inspecteur.prenom }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold" style="color: #000;">Email :</td>
              <td style="color: #000;">{{ inspecteur.email }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold" style="color: #000;">Numéro de téléphone :</td>
              <td style="color: #000;">{{ utilisateur.numero }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold" style="color: #000;">disponible entre :</td>
              <td style="color: #000;">{{ inspecteur.heuredispo }}h et {{ inspecteur.heureindispo }}h du lundi au vendredi</td>
            </tr>
            <tr>
              <td class="font-weight-bold" style="color: #000;">Date d'arrivée :</td>
              <td style="color: #000;">{{ utilisateur.date_joined }}</td>
            </tr>
            {% if inspecteur.inspecteur %}
            <tr>
                <td class="font-weight-bold" style="color: #000;">Inspecteur name :</td>
                <td style="color: #000;">{{ inspecteur.inspecteur.nom }} - {{ inspecteur.inspecteur.prenom }}</td>
            </tr>
            <tr>
               <td class="font-weight-bold" style="color: #000;">Inspecteur email :</td>
                <td style="color: #000;">{{ inspecteur.inspecteur.email }}</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
