{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Auto-école</title>
  <link rel="stylesheet" href={% static 'css/style.css' %}>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="{{ request.resolver_match.url_name }}">
  {% block navbar %}
  {% include 'navbar.html' %}
  {% endblock %}
  <h1 class="text-center">
    {% block title %}
    {% endblock %}
  </h1>
  <div class="container-fluid">
  <div class="row mt-3">
    <div class="col">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
{% block script%}
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>



{% block style %}
<style>
  body {
  background-color: #262626;
  color: #FFA500;
}
</style>
{% endblock %}
